<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCTOS</title>
</head>
<body>
    <form method="POST" action="/registro">
        <label>
            Ingrese su nombre:
        </label>
        <br>
        <input type="text" name="estudiante">
        <br>
        <label>
            Ingrese su email:
        </label>
        <br>
        <input type="email" name="email">
        <br>
        <label>
            Ingrese su contraseña:
        </label>
        <br>
        <input type="password" name="password">
        <br>
        <button type="submit">
            Matricular estudiante
        </button>
    </form>

    
    {{ listado }}
</body>
</html>